body {
    box-sizing: border-box;
    margin:0;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenedor {
    background-color: white;
    height: calc( 100vh - 20px );
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}
h1, h2 {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}
h2 {
    color:white;
}

.contenedor-flex {
    /* Se ponen uno junto a otro */
    display: flex;
    border: 1px solid #000;
    /* Direcciones - El orden de los elementos */
    flex-direction: row-reverse;
    /* Wrap - si desea que se salga el contenido del contenedor o no */
    flex-wrap: wrap-reverse;
    /* Flex flow Hacer lo mismo en la dos propiedades anteriores pero ahora en una */
    flex-flow: row wrap;
}

.elemento-flex{
    padding: 10px;
    flex-grow:1;

    /* Flex Toma tres parametros: 1) flex-grow 2) flex-shrink 3) flex-basic */
    flex: 1 1 300px;
}

.elemento-flex:nth-child(1) {
    /* Cambiar el orden de los elementos */
    /* order: 0; */
    background-color: #E53935;
}

.elemento-flex:nth-child(2) {
    background-color: #8E24AA;
    /* Hacer crecer los elementos, que ocupen el especio faltante */
    /* flex-grow:2; */

    /* Disminuye los elmentos */
    /* flex-shrink: 0;
    flex-grow: 0; */

    /* ocupa al menos (El mínimo) el 50% */
    /* flex-basis: 50%; */
}

.elemento-flex:nth-child(3) {
    background-color: #3F51B5;    
}
