@font-face
{
    src: url("../fonts/Roboto-Regular.ttf");
    font-family: roboto;    
}

body {
    font-family: roboto;
    margin: 0
}

header {
    font-family: roboto;
    background: #305465;
    text-align: center
}

.logo{
    color: #fff;
    font-size: 100px;
    font-family: roboto;
}

header input{
    font-size: 20px;
    margin: 20px 0px;
}

.bar{
    background-color: rgb(177, 177, 255);
    text-align: center;
    height: 2rem;
    display: block;
}